.hero {
  display: flex;
  height: calc(100vh - 80px); /* Viewport height - header height */
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.left {
  align-items: flex-start;
  height: 100%;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.left h1 {
  display: inline-block;
  /* font-size: 4.5vw; */
  font-size: 68px;
  letter-spacing: 1px;
  line-height: 1;
}

.left h1 span {
  color: var(--yellow);
  font-size: 78px;
  font-weight: 500;
  margin: 0 5px;
  position: relative;
  top: 5px;
}

.left h2 {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  width: 250px;
}

.left h2 span {
  color: var(--yellow);
}

.right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  background-color: var(--dark-background);
  height: 100%;
  display: flex;
  justify-content: center;
  right: 0;
  width: 60%;
}

.right img {
  bottom: 0;
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.socialMediaIcon {
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.socialMediaIcon:hover {
  color: var(--yellow);
}
