:root {
    --light-primary: #ffffff;
    --light-secondary: #eaeaea;
    --light-tertiary: #999;
    --light-border-color: #dcdcdc;

    --dark-primary: #111216;
    --dark-secondary: #3b3d42;
    --dark-tertiary: #73747b;
    --dark-border-color: #4a4b50;

    /* Theme agnostic */
    --yellow: #f4bf3a;
    --yellow-light: #ffeccc;
    --white: #f2faff;

    /* Media queries */
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);

    /* Transitions */
    --backgroundTransition: background 0.3s;
    --colorTransition: color 0.3s;

    /* Dark theme */
    --primary: var(--dark-primary);
    --secondary: var(--light-primary);
}

:root.light-mode {
    /* Light theme */
    --primary: var(--light-primary);
    --secondary: var(--dark-primary);
}
