body {
    --light-background: #ffffff;
    --light-background-secondary: #eaeaea;
    --light-color-secondary: #999;
    --light-border-color: #dcdcdc;

    --dark-background: #111216;
    --dark-background-secondary: #3b3d42;
    --dark-color-secondary: #73747b;
    --dark-border-color: #4a4b50;

    /* Theme agnostic */
    --yellow: #f4bf3a;
    --yellow-light: #ffeccc;
    --white: #f2faff;

    /* Media queries */
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);

    /* Transitions */
    --colorTransition: color 0.3s;

    /* Dark theme */
    --primary: #111216;
}

body.light-mode {
    /* Light theme */
    --primary: #ffffff;
}
