:root {
  /* light theme color */
  --light-background: #fff;
  --light-background-secondary: #eaeaea;
  --light-color: #222;
  --light-color-secondary: #999;
  --light-border-color: #dcdcdc;

  /* dark theme colors */
  --dark-background: #111216;
  --dark-background-secondary: #3b3d42;
  --dark-color: #f2faff;
  --dark-color-secondary: #73747b;
  --dark-border-color: #4a4b50;

  /* Theme agnostic */
  --yellow: #f4bf3a;
  --yellow-light: #ffeccc;
  --white: #f2faff;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
